<h1>Register form:</h1>
<form fxLayout="column" fxLayoutAlign="center center" (submit)="onRegister()" [formGroup]="registerForm">
  <fieldset class="form-group">
    <div class="col-sm-2">
    <label for="username">Username</label><br>
    <input type="text" formControlName="username" placeholder="Username" id="username" class="form-control">
    </div></fieldset>
  <fieldset class="form-group">
    <div class="col-sm-2">
    <label for="password">Password</label><br>
    <input type="password" formControlName="password" placeholder="Password" id="password"  class="form-control">
    </div></fieldset><br>
  <fieldset class="form-group">
    <div class="col-sm-2">
    <label for="password2">Password</label><br>
    <input type="password" formControlName="password2" placeholder="Repeat password" id="password2"  class="form-control">
  </div></fieldset><br>
  <fieldset class="form-group">
    <div class="col-sm-2">
    <label for="name">Name</label><br>
    <input type="text" formControlName="name" placeholder="Name" id="name" class="form-control">
  </div></fieldset>
  <fieldset class="form-group">
    <div class="col-sm-2">
    <label for="email">Email:</label><br>
    <input type="email" formControlName="email" placeholder="E-mail" id="email" class="form-control">
    </div></fieldset><br>
  <button type="submit" [disabled]="registerForm.invalid" class="btn btn-success">Register!</button><br><br>
  <button class="btn btn-link" (click)="back()">Back to login form</button>
</form>
